.jeu-intro {
  text-align: left;
  color: $colour-accent;
  margin-top: 2 rem;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 1rem;

  &__containImg {
    margin: auto;
    text-align: center;
  }

  & img {
    max-width: 120px;
    border: 5px red;
  }

  & h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  & p {
    font-family: SweetSansProExLight;
    font-size: 1.9rem;
    text-align: center;
  }
}
