//

.nav {
  // @include flex-center;

  &__link {
    display: inline;
    font-size: 2.5rem;
    padding-left: 3rem;
    margin-right: 2rem;
    & a {
      text-decoration: none;
      color: $colour-accent;
    }
    &--active {
      color: $colour-secondary;
      &:hover {
        cursor: default;
        color: $colour-secondary;
      }
    }
    & a:hover {
      color: $colour-secondary;
    }
  }
}
