/*************************************************************
 * CSS de page 3.*
 *************************************************************/

// * SECTION container-flash
.containerFlash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30rem;

  font-family: Merry;
  font-size: 6rem;
  color: yellow;
  //padding: 1rem;

  // ! appellé en .js
  &__pts {
    text-align: center;
    margin: auto;
  }

  &__img {
    width: 40rem;
    text-align: center;
    // margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 650px) {
  .containerFlash {
    // //margin-top: 15rem;
    // width: 100%;
    margin-top: 15rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    // //align-content: center;
    // //background-color: aqua;

    // ! appellé en .js
    &__pts {
      //    font-family: Merry;
      font-size: 2.7rem;
      //color: yellow;
      //margin-top: 3rem;
    }

    &__img {
      //max-height: 20rem;
      width: 15rem;
      //margin-top: 0rem;

      // background-color: aqua;
      // transform: rotate(45deg);
      //margin: auto;
      //display: flex;
    }
  }
}

.bubble {
  display: block;
  text-align: center;
  position: absolute;
  margin-top: 10rem;
  padding-top: 2.5rem;

  width: 50%;
  height: 65%;
  //padding: 8rem;

  // border: 2px solid yellow;
  // background-color: red;
  // border-radius: 75%;
}

@media (max-width: 650px) {
  .bubble {
    display: block;
    text-align: center;
    position: absolute;
    margin-top: 10rem;
    padding-top: 2.5rem;

    width: 50%;
    height: 65%;
    //padding: 8rem;

    // border: 2px solid yellow;
    // background-color: red;
    // border-radius: 75%;
  }
}
