/*************************************************************
 * CSS de page 1.*
 *************************************************************/

.dogs {
  margin-top: 7rem;
  margin-bottom: 6rem;

  display: flex;
  justify-content: space-around;

  font-family: Merry;
  font-size: 2.5rem;

  color: $colour-secondary;

  &__line {
    display: inline-flex;
    align-items: center;
  }

  &__img {
    max-width: 130px;
    padding-left: 2.2rem;
  }
}

@media (max-width: 650px) {
  .dogs {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    // display: flex;
    display: block;

    //justify-content: space-around;
    // font-family: Merry;
    font-size: 1.5rem;
    //color: $colour-secondary;

    &__line {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      margin: auto;
      align-items: center;
    }

    &__img {
      max-width: 60px;
      padding-left: 2.2rem;
    }
  }
}

.foot {
  color: $colour-accent;
  font-family: SweetSansProExLight;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 4rem;
  text-decoration: none;
}

a:link {
  color: $colour-accent;
  text-decoration: none;
}

@media (max-width: 650px) {
  .foot {
    font-size: 0.8rem;
    margin-top: 3rem;
  }
}
