/*************************************************************
 * CSS de page 4.*
 *************************************************************/

// * SECTION z-flash
.gameover {
  font-family: Merry;
  font-size: 10rem;
  color: yellow;
  margin-top: 8rem;
  text-align: center;
}
