*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);
}

.contain {
  height: 100%;
}

@font-face {
  font-family: "SweetSansProRegular";
  src: url("/public/fonts/SweetSansProRegular.woff");
}
@font-face {
  font-family: "SweetSansProExLight";
  src: url("/public/fonts/SweetSansProExLight.woff");
}
@font-face {
  font-family: "Pacfont";
  src: url("/public/fonts/PAC-FONT.TTF");
}
@font-face {
  font-family: "CrackMan";
  src: url("/public/fonts/CrackMan.TTF");
}
@font-face {
  font-family: "PacfontGood-yYye";
  src: url("/public/fonts/PacfontGood-yYye.ttf");
}
@font-face {
  font-family: "Pacfont-ZEBZ";
  src: url("/public/fonts/Pacfont-ZEBZ.ttf");
}
@font-face {
  font-family: "Blomberg";
  src: url("/public/fonts/Blomberg-8MKKZ.otf");
}
@font-face {
  font-family: "Merry";
  src: url("/public/fonts/MerryChristmas2021-owOL4.ttf");
}
body {
  font-family: "SweetSansProRegular", "Roboto", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

textarea {
  font-weight: 100;
  font-size: 2rem;
}

.commencer {
  text-align: center;
  font-variant-caps: small-caps;
  width: 200px;
  background-color: rgb(0, 0, 0);
  color: rgba(252, 252, 252, 0.8784313725);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
}
.commencer:hover {
  color: red;
  cursor: pointer;
}

/*************************************************************
 * CSS de page 1.*
 *************************************************************/
#page1 {
  z-index: 0;
}

.titre {
  display: flex;
  justify-content: center;
  font-family: Merry;
  font-size: 10rem;
  margin-top: 5rem;
}
.titre__baseline {
  color: #ffffff;
  text-align: center;
  padding-right: 1.1rem;
}
.titre__baseline--changed {
  display: inline-block;
  color: yellow;
  padding-right: 1.1rem;
  transform: rotate(-20deg);
}

.dogs {
  margin-top: 10rem;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-around;
  font-family: Merry;
  font-size: 2.5rem;
  color: #ffffff;
}
.dogs__line {
  display: inline-flex;
  box-sizing: border-box;
  margin: auto;
  align-items: center;
}
.dogs__img {
  max-width: 110px;
  padding-left: 2.2rem;
}

.btn {
  font-family: Merry;
  display: flex;
  flex-direction: column;
  color: rgba(252, 252, 252, 0.8784313725);
  font-size: 3.3rem;
}
.btn__btn {
  margin: auto;
  padding: 1.2rem;
}
.btn__btn:hover {
  color: #ffffff;
  font-size: 3.9rem;
  cursor: pointer;
}

.foot {
  color: rgba(252, 252, 252, 0.8784313725);
  font-family: SweetSansProExLight;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 5rem;
}

/*************************************************************
 * CSS de page 2.*
 *************************************************************/
.gridCenter {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.jeu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5rem;
  max-width: 45rem;
}
.jeu-grid__case {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding: 1rem;
}
.jeu-grid__case--hg {
  border-right: 5px double blue;
  border-bottom: 5px double blue;
  border-left: 5px double black;
  border-top: 5px double black;
}
.jeu-grid__case--hd {
  border-left: 5px double blue;
  border-bottom: 5px double blue;
  border-right: 5px double black;
  border-top: 5px double black;
}
.jeu-grid__case--bg {
  border-right: 5px double blue;
  border-top: 5px double blue;
  border-left: 5px double black;
  border-bottom: 5px double black;
}
.jeu-grid__case--bd {
  border-top: 5px double blue;
  border-left: 5px double blue;
  border-right: 5px double black;
  border-bottom: 5px double black;
}
.jeu-grid__case--opacit {
  opacity: 0.4;
}

.lineScore {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 26%;
  font-family: Merry;
  font-size: 3rem;
  color: #ffffff;
}
.lineScore--margeL {
  margin-left: 3rem;
}
.lineScore__num {
  font-size: 3rem;
  color: yellow;
  margin-right: 0rem;
  margin-left: 2rem;
}
.lineScore__num--blue {
  color: blue;
}

.lineScore2 {
  text-align: center;
}
.lineScore2__line {
  display: inline-flex;
  margin: auto;
  font-family: Merry;
  font-size: 3rem;
  color: #ffffff;
}
.lineScore2__try {
  color: blue;
}
.lineScore2__dline {
  color: blue;
  cursor: pointer;
}

.featOs__img {
  max-width: 2rem;
}

.featImg {
  max-width: 100%;
}

/*************************************************************
 * CSS de page 3.*
 *************************************************************/
.flash {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flash__pts {
  font-family: Merry;
  font-size: 6rem;
  color: yellow;
  margin-top: 8rem;
}
.flash__img {
  max-width: 25rem;
  margin-top: 2rem;
}

/*************************************************************
 * CSS de page 4.*
 *************************************************************/
.gameover {
  display: block;
  text-align: center;
}
.gameover__title {
  font-family: Merry;
  font-size: 4rem;
  color: red;
  text-align: center;
}
.gameover__txt {
  margin-top: 2rem;
  font-family: Merry;
  font-size: 2.5rem;
  color: rgba(252, 252, 252, 0.8784313725);
  text-align: center;
  font-style: italic;
}
.gameover__txt--y {
  margin-top: 1rem;
  font-family: Merry;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-style: italic;
  color: yellow;
}
.gameover__num {
  font-size: 2rem;
  color: rgba(252, 252, 252, 0.8784313725);
  font-family: Merry;
  text-align: center;
  margin-bottom: 2rem;
}
.gameover__input {
  display: inline-flex;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 2rem;
  background-color: rgb(30, 30, 30);
  color: rgba(252, 252, 252, 0.8784313725);
  font-family: Merry;
  font-size: 2rem;
  padding: 1.2rem;
  border: none;
}
.gameover__btn {
  margin-top: 1.2rem;
  font-family: Merry;
  font-size: 2.5rem;
  color: rgba(252, 252, 252, 0.8784313725);
  text-align: center;
  font-style: italic;
  cursor: pointer;
}

footer {
  background: rgb(0, 0, 0);
  color: rgba(252, 252, 252, 0.8784313725);
  font-family: SweetSansProExLight;
  font-size: 1.3rem;
  margin-top: 9rem;
  min-height: 6rem;
  display: flex;
  justify-content: center;
}

.container {
  margin: 1rem;
  padding: 0.25rem 0.25rem 0 0.25rem;
  border: 0.1rem solid rgba(252, 252, 252, 0.8784313725);
}

/*# sourceMappingURL=style.css.map */
