*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #2055b6;
}

.contain {
  height: 100%;
}

@font-face {
  font-family: "SweetSansProRegular";
  src: url("/public/fonts/SweetSansProRegular.woff");
}
@font-face {
  font-family: "SweetSansProExLight";
  src: url("/public/fonts/SweetSansProExLight.woff");
}
body {
  font-family: "SweetSansProRegular", "Roboto", sans-serif;
  color: rgb(69, 53, 93);
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

textarea {
  font-weight: 100;
  font-size: 2rem;
}

.commencer {
  text-align: center;
  font-variant-caps: small-caps;
  width: 200px;
  background-color: rgb(69, 53, 93);
  color: #fcfcfc;
  border: 1px solid rgb(69, 53, 93);
  border-radius: 20%;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
}
.commencer:hover {
  color: red;
  cursor: pointer;
}

.header {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background: rgb(69, 53, 93);
  margin-bottom: 5rem;
}
.header__baseline {
  text-shadow: 0.55rem 0.55rem #2d223d;
  font-size: 3.2rem;
  color: #fcfcfc;
  margin: 2rem;
}
.header__img {
  display: flex;
  flex: auto;
  justify-content: flex-start;
  align-items: center;
  height: 10rem;
}
.header__img--feat {
  margin-top: 6rem;
}

.nav__link {
  display: inline;
  font-size: 2.5rem;
  padding-left: 3rem;
  margin-right: 2rem;
}
.nav__link a {
  text-decoration: none;
  color: #fcfcfc;
}
.nav__link--active {
  color: #2055b6;
}
.nav__link--active:hover {
  cursor: default;
  color: #2055b6;
}
.nav__link a:hover {
  color: #2055b6;
}

.jeu-intro {
  text-align: left;
  color: #fcfcfc;
  margin-top: 2 rem;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 1rem;
}
.jeu-intro__containImg {
  margin: auto;
  text-align: center;
}
.jeu-intro img {
  max-width: 120px;
  border: 5px red;
}
.jeu-intro h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.jeu-intro p {
  font-family: SweetSansProExLight;
  font-size: 1.9rem;
  text-align: center;
}

.z-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40rem;
  border: 1px solid;
  margin: auto;
}
.z-tab__entete {
  width: 100%;
  background-color: rgb(69, 53, 93);
  font-size: 1.4rem;
  text-align: center;
  color: #fcfcfc;
  border: 1px solid #fcfcfc;
}
.z-tab__cel {
  border: 1px solid #fcfcfc;
  border-top: 0;
  width: 100%;
  text-align: center;
  color: #fcfcfc;
}

.z-cptTour {
  display: flex;
  justify-content: center;
  width: 40rem;
  margin: auto;
  margin-bottom: 2rem;
  color: #fcfcfc;
  font-size: 1.4rem;
}
.z-cptTour__titre {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.jeu-grid {
  width: 50%;
  display: flex;
  justify-content: baseline;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 4rem;
  text-align: center;
}

.jeu-grid__case {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border: 3px solid #fcfcfc;
  background-color: #685bbd;
  border-radius: 25%;
}
.jeu-grid__case--changed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border: 3px solid #2055b6;
  border-radius: 25%;
  background-color: #2055b6;
}

.featImg {
  max-width: 100%;
}

.go {
  background-color: white;
}

.flash-ruby {
  font-size: 15rem;
  text-align: center;
  text-shadow: 0.55rem 0.55rem #fcfcfc;
}

footer {
  background: rgb(69, 53, 93);
  color: #fcfcfc;
  font-family: SweetSansProExLight;
  font-size: 1.3rem;
  margin-top: 9rem;
  min-height: 6rem;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.container {
  margin: 1rem;
  padding: 0.25rem 0.25rem 0 0.25rem;
  border: 0.1rem solid #fcfcfc;
}

.form {
  width: 100%;
  padding-bottom: 0.25rem;
}
.form__heading {
  width: 100%;
  color: #fff;
  text-shadow: 0.55rem 0.55rem #2d223d;
  background: rgb(69, 53, 93);
  line-height: 5rem;
  padding: 0.25rem;
}
.form__field label {
  color: #fcfcfc;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 0.25rem;
}
.form__field input {
  width: 100%;
  background: #2055b6;
  border: 0.1rem solid rgb(69, 53, 93);
  padding: 0.25rem;
  color: #fcfcfc;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
  border: 0.1rem solid rgb(69, 53, 93);
  background-color: #2055b6;
  color: rgb(69, 53, 93);
}
.form__field textarea {
  width: 100%;
  color: rgb(69, 53, 93);
  background: #2055b6;
  border: 0.1rem solid rgb(69, 53, 93);
  outline: none;
  padding: 0.25rem;
  margin-bottom: 0.125rem;
}

/*# sourceMappingURL=style.css.map */
