@font-face {
  font-family: "SweetSansProExLight";
  //src: url("/rubypac/public/fonts/SweetSansProExLight.woff");
  src: url("/rubypac/public/fonts/SweetSansProExLight.woff");
}

@font-face {
  font-family: "Merry";
  //src: url("/public/fonts/MerryChristmas2021-owOL4.ttf");
  //src: url("/rubypac/public/fonts/MerryChristmas2021-owOL4.ttf");
  src: url("/rubypac/public/fonts/MerryChristmas2021-owOL4.ttf");
}

body {
  font-family: "SweetSansProRegular", "Roboto", sans-serif;
  color: $colour-primary;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

textarea {
  font-weight: 100;
  font-size: 2rem;
}
