/*************************************************************
 * CSS de page result.php. *
 *************************************************************/

.background {
  background-image: url("/rubypac/public/img/rubypac_opac.png");
  background-repeat: no-repeat;
  background-position: center;
}

.tableScore {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: Merry;
  font-size: 2.5rem;
  color: $colour-accent;

  &--yel {
    color: yellow;
  }

  &--margeR {
    padding-right: 15px;
  }
}

.padbot {
  padding-bottom: 3rem;
}

@media (max-width: 650px) {
  .tableScore {
    margin: auto;

    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;

    &--yel {
      color: yellow;
    }

    &--margeR {
      padding-right: 10px;
    }
  }
}
