$colour-primary: rgb(69, 53, 93);
$colour-secondary: #2055b6;

$colour-accent: #fcfcfc;
$colour-white: #fff;
$colour-invalid: #db464b;

$heading-shadow-size: 0.55rem;
$layout-margin: 1rem;

$grid-gutter: $layout-margin * 0.25;

$start: flex-start;
$center: center;

$imgPath: "/public/img/";
